@font-face {
    font-family: SandBold;
    src: url("../quicksand/Quicksand-Bold.otf");    
}  
  
@font-face { 
    font-family: SandItalic;
    src: url("../quicksand/Quicksand-Italic.otf"); 
}
 
@font-face { 
    font-family: SandLight;
    src: url("../quicksand/Quicksand-Light.otf");
}       


    

  




 
    
 



                  
  